<div class="col-6 offset-3">
  <h2 class="bg-dark p-3 mb-0 text-white rounded-top"><%= title %></h2>
  <div class="px-2">
    <%#= render 'active_storage/blobs/blob' %>
    <%= form_for(@article, url: url) do |f| %>
      <div class="field form-group pt-2">
        <%= f.label :title %>
        <%= f.text_field :title, autofocus: true, autocomplete: "title", class: "form-control" %>
        <%= error_list(@article, :title) %>
      </div>

      <div class="field form-group pt-2">
        <%= f.label :tag_list %>
        <em>(可选，最多10个不重复的标签，标签之间用空格隔开)</em>
        <%= f.text_field :tag_list, autocomplete: "tags", class: "form-control" %>
      </div>

      <div class="field form-group">
        <%= f.label :content %>
        <%= f.rich_text_area :content, autocomplete: "content" %>
        <%= error_list(@article, :content) %>
      </div>

      <div class="actions">
        <%= f.submit btn_text, class: "btn btn-info btn-block" %>
      </div>
    <% end %>
  </div>
</div>
