<div class="col-6 offset-3">
  <h2 class="bg-dark p-3 mb-0 text-white rounded-top">新文章</h2>
  <div class="px-2">
    <%= form_for(@article) do |f| %>
      <div class="field form-group pt-2">
        <%= f.label :title %>
        <%= f.text_field :title, autofocus: true, autocomplete: "title", class: "form-control" %>
        <%= error_list(@article, :title) %>
      </div>

      <div class="field form-group">
        <%= f.label :content %>
        <%= f.text_area :content, autocomplete: "content", rows: '10', class: "form-control" %>
        <%= error_list(@article, :content) %>
      </div>

      <div class="actions">
        <%= f.submit "发布", class: "btn btn-info btn-block" %>
      </div>
    <% end %>
  </div>
</div>
