<div class="row">
  <div class="col-6 offset-2">
    <%= render @article %>
    <div class="d-flex justify-content-between">
      <div class="m-2">
        <%= link_to('< 前一篇文章', user_article_path(@owner.name, @pre_article), class: 'btn btn-outline-info', role: 'button') if @pre_article %>
      </div>
      <div class="m-2">
        <%= link_to('后一篇文章 >', user_article_path(@owner.name, @next_article), class: 'btn btn-outline-info', role: 'button') if @next_article %>
      </div>
    </div>
    <div class="card">
      <div class="card-header bg-primary text-white">
        <h4>评论</h4>
      </div>
      <div class="card-body">
        <%= render 'comments/form' %>
        <%= render @comments %>
        <%= will_paginate @comments, previous_label: '<<', next_label: '>>', class: 'digg_pagination' %>
      </div>
    </div>
  </div>
  <%= render 'sidebar' %>
</div>
